<div class="row container" id="main">
  <div class="col l12 m12 s12">
    <div class="card grey lighten-5">
      <div class="progress"  ng-show="checkout.isRequestActive">
        <div class="indeterminate"></div>
      </div>

      <form class="form-signin" name="paymentForm">
        <div class="card-content teal-text">
          <span class="card-title">Credit Card Information</span>

          <div class="input-field">
            <i class="material-icons prefix">credit_card</i>
            <input name="cardNumber" id="cardNumber" type="text" ng-model="checkout.paymentInfo.card.number" payments-validate="card"  payments-type-model="paymentInfo.type" required maxlength="22" payments-format="card" autofocus>
            <label for="cardNumber">Card Number</label>
            <div ng-show="paymentForm.cardNumber.$dirty">
              <p class="errorMsg" ng-show="paymentForm.cardNumber.$error.maxLength">Cannot have more than 22 characters</p>
              <p class="errorMsg" ng-show="paymentForm.cardNumber.$error.card">Invalid Credit Card</p>
              <p class="errorMsg" ng-show="paymentForm.cardNumber.$error.required">Credit Card is requried</p>
            </div>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">date_range</i>
            <input name="expireDate" id="expireDate" type="text" ng-model="checkout.paymentInfo.expiry" payments-validate="expiry" required maxlength="7" payments-format="expiry" />
            <label for="expireDate">Exp. Date</label>
            <div ng-show="paymentForm.expireDate.$dirty">
              <p class="errorMsg" ng-show="paymentForm.expireDate.$error.maxLength">Cannot have more than 7 characters</p>
              <p class="errorMsg" ng-show="paymentForm.expireDate.$error.expiry">Invalid Exp. Date</p>
              <p class="errorMsg" ng-show="paymentForm.expireDate.$error.required">Exp. Date is requried</p>
            </div>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">crop_16_9</i>
            <input name="cvcNumber" id="cvcNumber" type="text" ng-model="checkout.paymentInfo.card.cvv" payments-validate="cvc" required maxlength="4"/>
            <label for="cvcNumber">CVC</label>
            <div ng-show="paymentForm.cvcNumber.$dirty">
              <p class="errorMsg" ng-show="paymentForm.cvcNumber.$error.maxLength">Cannot have more than 4 characters</p>
              <p class="errorMsg" ng-show="paymentForm.cvcNumber.$error.cvc">Invalid CVC</p>
              <p class="errorMsg" ng-show="paymentForm.cvcNumber.$error.required">CVC is requried</p>
            </div>
          </div>

        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit" name="action"
                  ng-disabled="paymentForm.$invalid || checkout.isRequestActive" ng-click="checkout.performCheckout(paymentForm)">Donate
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form><!-- /form -->

    </div>
  </div>
</div>



