<div class="row container" id="main">
  <div class="col l12 m12 s12">
    <div class="card grey lighten-5">
      <div class="progress" style="display: none">
        <div class="indeterminate"></div>
      </div>
      <form class="form-signin" name="donateForm">
        <div class="card-content teal-text">
          <div class="row">
            <div class="input-field col m7 s12">
              <i class="material-icons prefix">monetization_on</i>
              <input id="amount" type="number" class="validate" required step="0.01" min="0.01" max="100"
                     ng-model="donateData.amount" autofocus>
              <label for="amount">Amount</label>
            </div>

            <div class="input-field col m5 s12">
              <label for="currency" class="active">Currency</label>
              <select class="browser-default" name="currency" id="currency"  ng-model="donateData.currency" ng-options="item.val as item.label for item in currencyOptions" ></select>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit" name="action"
                  ng-disabled="donateForm.$invalid" ng-click="donate(donateForm)">Checkout
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form><!-- /form -->

    </div>
  </div>
</div>



